body{
    background-image: url(https://images.unsplash.com/photo-1589306962951-b3da28bfdfac?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8M3w5NDY5MjEzfHxlbnwwfHx8fA%3D%3D&w=1000&q=80);
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    height: 500px;
    width: 500px;
    margin:  100px auto;
}

h1{
    margin-top: 50%;
    border-radius: 15%;
    text-align: center;

}
.randomjoke{
    width: 400px;
    margin: auto;
    text-align: center;
    padding-top: 30px;
    height: 42%;
    border-radius: 2%;
    font-size: larger;
}